/*  your css code here. If applicable */
input[type="text"], 
input[type="password"], 
input[type="submit"],
button {
  display: block;
  margin: 10px auto;
  padding: 10px;
}

input[type="checkbox"] {
  margin: 0 5px 0 0;
}